
.status-running
{
    background-color: #93c47d;
    color: black;
}
.status-killed
{
    background-color: #e06666;
    color: white;
}
.status-paused
{
    background-color: #f9cb9c;
    color: black;
}
.status-rejected
{
    background-color: #ff0000;
    color: white;
}
.status-disabled
{
    background-color: #cc4125;
    color: white;
}

.team-yzcen
{
    background-color: #b7e1cd;
    color: black;
}

.team-cams
{
    background-color: #b4a7d6;
    color: black;
}

.team-fely
{
    background-color: #ea9999;
    color: black;
}